{[/* layout: basic */]}

{[define "body"]}
<div id='message'>关于</div>
{[end]}

{[define "script"]}
<script>
var vm = new Vue(lotus.buildVueConfig({
    el: '#app',
    data: {
    },
    methods: {
    },
}));
</script>
{[end]}
